// Site sections styling
%section-spacing {
  @include respond((padding-top, padding-bottom), (
    xs: 40px 40px,
    sm: 60px 60px,
    md: 80px 80px,
    lg: 100px 100px));
}

section {
  @extend %section-spacing;
  box-sizing: border-box;

  &.section-inverse {
    background-color: $brand-primary;
    h2 {
      color: $white;
    }

    .section-subtitle {
      color: mix($white, $navbar-inverse-bg, 50%);
      a {
        color: $white;
        display: inline-block;
        &:hover, &:focus {
          text-decoration: none;
          &:after {
            border-top-color: mix($white, $navbar-inverse-bg, 40%);
          }
        }

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 0;
          border-top: 1px solid mix($white, $navbar-inverse-bg, 20%);
        }
      }
    }
  }
}

.section-title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin: {
    top: 0;
    bottom: 1ex;
    left: auto;
    right: auto;
  }

  @include respond((font-size max-width), (
    xs: 26px $screen-xs*.8,
    sm: 30px $screen-sm*.75,
    md: 36px $screen-md*.6,
    lg: 48px $screen-lg*.6)
  );
}

.section-subtitle {
  font-size: $font-size-h4;
  text-align: center;
  margin: {
    left: auto;
    right: auto;
  }

}

.section-inverse {

}
