// Site sections styling
%section-spacing {
  @include respond((padding-top, padding-bottom), (
    xs: 40px 40px,
    sm: 60px 60px,
    md: 80px 80px,
    lg: 100px 100px));
}

section {
  @extend %section-spacing;
  box-sizing: border-box;

  &.section-inverse {
    background-color: $brand-primary;
    color: $white;
    $headings-color: $white;
    $text-color: $white;
    $link-color: $white;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}




