#section-plans-pricing {
  $brand-20: mix($white, $brand-primary, 20%);

  background: {
    color: $brand-primary;
    image: url("../images/backgrounds/bg-prices.jpg");
    repeat: no-repeat;
    position: bottom center;
    size: cover;
  }

  .section-subtitle {
    color: mix($white, $navbar-inverse-bg, 50%);
    margin-bottom: 0;
  }

  .nav-pills {
    display: inline-block;
    border-radius: $border-radius-base;
    overflow: hidden;
    border: 1px solid $brand-20;
    margin: 45px auto 50px auto;
    font-weight: 900;
    font-size: 16px;

    > li {

      + li {
        margin-left: 0;
      }

      > a {
        color: $white;
        border-radius: 0;
        cursor: pointer;
        width: 180px;
        @include respond((width font-size),(xs: 100%));
        &:hover {
          background-color: mix($white, $brand-primary, 10%);
        }
      }

      &.active {
        > a {
          background-color: $brand-20;
          cursor: default;
        }
      }
    }

  }

  .panel {
    font-size: 16px;
  }

  .plan-title {
    margin: {
      top: 0;
      bottom: 34px;
    }

    font-size: 30px;

    @include respond((font-size), (sm: 23px ));
    font-weight: 400;

    .badge {
      font-size: $font-size-base;
      margin: {
        bottom: 2px;
        left: 15px;
      }
      padding: {
        top: 4px;
        bottom: 4px;
      }
    }
  }

  .panel-body {

    @include respond((padding), (
      xs: 25px 30px,
      sm: 20px 15px,
      md: 30px 30px,
      lg: 35px 35px)
    );

    .btn {
      margin-top: 35px;
      font-weight: 900;
      &.btn-default {
        color: $brand-primary;
      }
    }

    ul + ul {
      margin-top: 30px;
    }

    li + li {
      margin-top: 4px;
    }

  }



  .price {
    line-height: .75;
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 40px;
  }

  .price-new {
    float: left;
    font-size: 70px;
    font-weight: 900;
    position: relative;

    @include respond((font-size), (sm: 50px));

    &:before {
      content: "$";
      font-weight: 400;
      font-size: 24px;
      float: left;
    }
    &:after {
      position: absolute;
      bottom: 0;
      content: "/month";
      color: $text-muted;
      font-weight: 400;
      font-size: 18px;
      vertical-align: baseline;
    }

  }

  .price-old {
    float: left;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: {
      left: 1ex;
      top: 2px;
    }
    &:before {
      content: "$ ";
    }

    text-decoration: line-through;
    color: $brand-danger;
  }

}
