#section-plans-pricing {
  background: {
    color: $navbar-inverse-bg;
    image: url("../images/backgrounds/bg-prices.jpg");
    repeat: no-repeat;
    position: bottom center;
    size: cover;
  }
}
