!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{http:{equiv: 'X-UA-Compatible'}, content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width'}
    %title
      Ahrefs: SEO Backlink Checker &amp; Competitor Research Tools
    %link{href: 'assets/stylesheets/style.css', rel: 'stylesheet'}
    %script{src: '//code.jquery.com/jquery-1.11.1.min.js'}
    %script{src: 'assets/javascripts/bootstrap.js'}
    %script{src: 'assets/javascripts/carousel-swipe.js'}
    %script{src: 'assets/javascripts/script.js'}

  %body.has-navbar{data: {spy: 'scroll', target: '#navigation-main'}}
    %nav.navbar.navbar-inverse.navbar-fixed-top#navigation-main
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{data: {toggle: 'collapse', target: '#ahrefs-navbar-collapse'}, type: 'button'}
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: ''}
            %img{alt: 'Ahrefs', src: 'assets/images/logo.svg', width: '76'}

        .collapse.navbar-collapse#ahrefs-navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: '#section-tools'} Tools
            %li
              %a{href: '#section-plans-pricing'} Plans & Pricing
            %li
              %a{href: '/404.html'} Help
            %li
              %a{href: '/404.html'} About

          .navbar-right
            %a.btn.navbar-btn.btn-primary{href: '#section-try'} Start free trial
            %span.text-muted or
            %a.btn.navbar-btn.btn-link{href: '#'} Sign In

    %section#section-intro.section-inverse
      .container.text-center
        %h1.site-title
          Powerful toolset for&nbsp;SEO and&nbsp;beyond
        %p.section-subtitle
          Track your backlinks, keywords, brand mentions and know what your competitors are doing
        %p
          %a.btn.btn-lg.btn-danger{href: '#section-try'}
            Start FREE 14-day trial
        .laptop

    %section#section-tools
      .container
        %h2.section-title
          The tools you get with Ahrefs

        .carousel-fade.carousel.slide#tools-carousel{data: {ride: 'carousel', interval: '5000'} }
          %ul.tools-tabs.carousel-indicators
            %li.active
              %a{data: {slide: {to: 0}, target: '#tools-carousel'} }
                .tab-icon
                  %img{src: 'assets/images/tools/se.svg'}
                .tab-title
                  Site Explorer
            %li
              %a{data: {slide: {to: 1}, target: '#tools-carousel'} }
                .tab-icon
                  %img{src: 'assets/images/tools/pe.svg'}
                .tab-title
                  Position Explorer
            %li
              %a{data: {slide: {to: 2}, target: '#tools-carousel'} }
                .tab-icon
                  %img{src: 'assets/images/tools/ce.svg'}
                .tab-title
                  Content Explorer
            %li
              %a{data: {slide: {to: 3}, target: '#tools-carousel'} }
                .tab-icon
                  %img{src: 'assets/images/tools/pt.svg'}
                .tab-title
                  Position Tracker
            %li
              %a{data: {slide: {to: 4}, target: '#tools-carousel'} }
                .tab-icon
                  %img{src: 'assets/images/tools/cr.svg'}
                .tab-title
                  Crawl Report
            %li
              %a{data: {slide: {to: 5}, target: '#tools-carousel'} }
                .tab-icon
                  %img{src: 'assets/images/tools/aa.svg'}
                .tab-title
                  Ahrefs Alerts
          .carousel-inner.tools-content
            .item.active
              .container
                .row
                  .col-sm-5.col-md-4
                    .tools-description
                      %h3.tools-tool-title Site Explorer
                      %p
                        %strong
                          The best backlink checker tool in the industry
                      %p
                        Take a detailed look at a backlink profile of any website or URL: what websites link to it, what anchors they use, how strong are these backlinks, etc.
                      %p
                        Track how backlinks amount grows over time and perform an in-depth backlink analysis using our advanced reports and handy filtering options.
                  .col-sm-7.col-md-8.tools-screenshot-wrapper
                    .tools-screenshot
                      %img{src: 'assets/images/tools/screenshots/cr.jpg'}
            .item
              .container
                .row
                  .col-sm-5.col-md-4
                    .tools-description
                      %h3.tools-tool-title Positions Explorer
                      %p
                        %strong
                          Analyze your competitors' search traffic
                      %p
                        Get an email notification whenever you or your competitors get a new backlink or lose one. You’ll see exactly where any new backlinks are coming from.
                      %p
                        Ahrefs will also notify you whenever someone mentions your business or any keywords you want to monitor. Learn exactly what people are saying about you and your competitors in real time.
                  .col-sm-7.col-md-8.tools-screenshot-wrapper
                    .tools-screenshot
                      %img{src: 'assets/images/tools/screenshots/pe.jpg'}
            .item
              .container
                .row
                  .col-sm-5.col-md-4
                    .tools-description
                      %h3.tools-tool-title Content Explorer
                      %p
                        %strong
                          Discover the content that's working well in your niche
                      %p
                        Find out what content is getting the most shares and backlinks so you can build a winning content strategy.
                      %p
                        You’ll see every site that's linking to a popular piece of content, so you can create a list of outreach targets for your linkbuilding campaign.
                  .col-sm-7.col-md-8.tools-screenshot-wrapper
                    .tools-screenshot
                      %img{src: 'assets/images/tools/screenshots/ce.jpg'}
            .item
              .container
                .row
                  .col-sm-5.col-md-4
                    .tools-description
                      %h3.tools-tool-title Position Tracker
                      %p
                        %strong
                          Get accurate, daily ranking data
                      %p
                        Track your keyword rankings in all countries and languages, and find out how well you rank on mobile devices.
                      %p
                        We'll show you your position history over time and send you weekly/monthly ranking reports so you can track your progress without leaving your inbox.
                  .col-sm-7.col-md-8.tools-screenshot-wrapper
                    .tools-screenshot
                      %img{src: 'assets/images/tools/screenshots/se.jpg'}
            .item
              .container
                .row
                  .col-sm-5.col-md-4
                    .tools-description
                      %h3.tools-tool-title Crawl Report
                      %p
                        %strong
                          Identify and fix common SEO issues on your site
                      %p
                        Run Crawl Reports with just a few clicks and Ahrefs will instantly identify any issues that may be hurting your visibility in search engines and tell you how to fix them.
                      %p
                        We'll check the response codes and loading speed of all your pages, ensuring that every page is perfectly optimised for search.
                  .col-sm-7.col-md-8.tools-screenshot-wrapper
                    .tools-screenshot
                      %img{src: 'assets/images/tools/screenshots/cr.jpg'}
            .item
              .container
                .row
                  .col-sm-5.col-md-4
                    .tools-description
                      %h3.tools-tool-title Ahrefs Alerts
                      %p
                        %strong
                          Never miss another backlink or mention
                      %p
                        Get an email notification whenever you or your competitors get a new backlink or lose one. You’ll see exactly where any new backlinks are coming from.
                      %p
                        Ahrefs will also notify you whenever someone mentions your business or any keywords you want to monitor. Learn exactly what people are saying about you and your competitors in real time.
                  .col-sm-7.col-md-8.tools-screenshot-wrapper
                    .tools-screenshot
                      %img{src: 'assets/images/tools/screenshots/aa.jpg'}


    %section#section-data-presentation.section-inverse
      .container
        %h2.section-title
          The biggest and most accurate database of&nbsp;live backlinks
        .data-presentation-wrapper
          %ul.data-presentation
            %li
              %label Every day we crawl
              %strong 5
              %em
                %span.data-highlight billion
                <br>web pages
            %li
              %label Our index size:
              %strong 12
              %em
                %span.data-highlight trillion
                <br>known links
            %li
              %strong 200
              %em
                %span.data-highlight million
                root<br>domains
            %li
              %strong 2
              %em
                %span.data-highlight trillion
                <br>known URLs
            %li
              %label Powered by:
              %strong 10
              %em
                petabytes<br>of storage
            %li
              %strong 5000
              %em CPU<br>cores


    %section#section-testimonials
      .container
        %h2.section-title
          Testimonials
        .carousel.slide#testimonials-carousel{data: {ride: 'carousel'} }
          %ol.carousel-indicators
            %li.active{data: {slide: {to: 0}, target: '#testimonials-carousel'}}
            %li{data: {slide: {to: 1}, target: '#testimonials-carousel'}}
            %li{data: {slide: {to: 2}, target: '#testimonials-carousel'}}
            %li{data: {slide: {to: 3}, target: '#testimonials-carousel'}}
          .carousel-inner{role: 'listbox'}
            .item.active
              %blockquote I love Ahrefs for the quality of their data. They do a great job of crawling the web and the metrics they give you are pretty accurate. Ahrefs is a great tool. The data is fresh, the usability is fantastic and you guys keep adding great new features to the platform.
              .media
                .media-left
                  %img.media-object.img-rounded{src: 'assets/images/testimonials/rhea-drysdale.jpg'}
                .media-body
                  %h4.media-heading Rhea Drysdale
                  %p CEO at Outspoken Media
            .item
              %blockquote At Outspoken Media, we rely on Ahrefs daily to help us achieve great results for our clients. What makes Ahrefs invaluable to us is its intuitive design, reliable data, and innovative features. Ahrefs is a must-have for serious digital marketers and SEOs.
              .media
                .media-left
                  %img.media-object.img-rounded{src: 'assets/images/testimonials/jon-cooper.jpg'}
                .media-body
                  %h4.media-heading Jon Cooper
                  %p founder of Pointblankseo
            .item
              %blockquote We use Ahrefs mainly for its site explorer, and it’s immensely improved how we find link targets. We use it both for getting quick analysis of a site, as well as utilizing it’s extensive index when we want to dive deep. It’s invaluable to have one tool that can do both of those things.
              .media
                .media-left
                  %img.media-object.img-rounded{src: 'assets/images/testimonials/aaron-wall.jpg'}
                .media-body
                  %h4.media-heading Aaron Wall
                  %p founder of Seobook
            .item
              %blockquote When it comes to backlink analysis, Ahrefs is my #1 go-to tool. I've tested over 25 link analysis tools and none come close to Ahref's in terms of index size, freshness and overall usability. If you're serious about SEO,you need Ahrefs.
              .media
                .media-left
                  %img.media-object.img-rounded{src: 'assets/images/testimonials/brian-dean.jpg'}
                .media-body
                  %h4.media-heading Brian Dean
                  %p founder of Backlinko

    %section#section-plans-pricing.section-inverse.text-center
      .container
        %h2.section-title
          Plans & Pricing
        %p.section-subtitle Pick the package that suits you best and register your Ahrefs account
        %ul.nav.nav-pills.center-block
          %li.active
            %a{href: '#pricing-monthly', data: {toggle: 'tab'}}
              Monthly pricing
          %li
            %a{href: '#pricing-annual', data: {toggle: 'tab'}}
              Annual pricing
        .tab-content.text-left
          .tab-pane.fade#pricing-monthly.in.active
            .row
              .col-sm-4
                .panel.panel-default
                  .panel-body
                    %h3.plan-title
                      Lite
                    .price
                      .price-new 66
                      .price-old 79

                    %ul.list-unstyled
                      %li
                        3 Campaigns
                        %i.glyphicon.glyphicon-question-sign.text-muted
                      %li
                        250 Tracked keywords
                        %i.glyphicon.glyphicon-question-sign.text-muted
                      %li
                        5 Million rows/month
                        %i.glyphicon.glyphicon-question-sign.text-muted

                    %ul.list-cheklist
                      %li Site Explorer
                      %li Positions Explorer
                      %li Content Explorer
                      %li Rank Tracker
                      %li Crawl Report
                      %li Ahrefs Alerts
                    %a.btn.btn-default.btn-lg.btn-block{href: '404.html'} Free 14-day trial
              .col-sm-4
                .panel.panel-default
                  .panel-body
                    %h3.plan-title
                      Standart
                      .badge
                        Best value
                    .price
                      .price-new 149
                      .price-old 179

                    %ul.list-unstyled
                      %li
                        10 Campaigns
                        %i.glyphicon.glyphicon-question-sign.text-muted
                      %li
                        750 Tracked keywords
                        %i.glyphicon.glyphicon-question-sign.text-muted
                      %li
                        30 Million rows/month
                        %i.glyphicon.glyphicon-question-sign.text-muted

                    %ul.list-cheklist
                      %li Site Explorer
                      %li Positions Explorer
                      %li Content Explorer
                      %li Rank Tracker
                      %li Crawl Report
                      %li Ahrefs Alerts
                    %a.btn.btn-danger.btn-lg.btn-block{href: '404.html'} Free 14-day trial
              .col-sm-4
                .panel.panel-default
                  .panel-body
                    %h3.plan-title
                      Advanced
                    .price
                      .price-new 332
                      .price-old 399
                    %ul.list-unstyled
                      %li
                        30 Campaigns
                        %i.glyphicon.glyphicon-question-sign.text-muted
                      %li
                        2500 Tracked keywords
                        %i.glyphicon.glyphicon-question-sign.text-muted
                      %li
                        125 Million rows/month
                        %i.glyphicon.glyphicon-question-sign.text-muted

                    %ul.list-cheklist
                      %li Site Explorer
                      %li Positions Explorer
                      %li Content Explorer
                      %li Rank Tracker
                      %li Crawl Report
                      %li Ahrefs Alerts
                    %a.btn.btn-default.btn-lg.btn-block{href: '404.html'} Subscribe
          .tab-pane.fade#pricing-annual
            %p.section-subtitle Check back later for annual plans
        %p.section-subtitle
          %a{href: '/404.html'}
            Compare the full list of features
    %section#section-try
      .container
        %h2.section-title
          Try Ahrefs for free
        %p.section-subtitle
          Registering your trial will only take a few minutes and then you'll be able to use all Ahrefs premium features for 14 days free of charge.
        %p.text-center
          %a.btn.btn-danger.btn-lg{href: '404.html'}
            Start FREE 14-day trial

    %footer
      .container
        .row
          .col-sm-3
            %a.logo{href: ''}
              %img{alt: 'Ahrefs', src: 'assets/images/logo-footer.svg', width: '74'}
          .col-sm-9
            %ul.list-inline.text-right.nav-footer
              %li
                %a{href: '404.html'} About
              %li
                %a{href: '404.html'} Jobs
              %li
                %a{href: '404.html'} Affiliate
              %li
                %a{href: '404.html'} Help
              %li
                %a{href: '404.html'} Contact
              %li
                %a{href: '404.html'}
                  %img{src: 'assets/images/english@2x.png', width: '16'}
                  English

        %p.copyright
          &copy; 2016 Ahrefs Pte Ltd. 16 Raffles Quay. #33-03 Hong Leong Building, Singapore
        %ul.list-inline.text-muted
          %li
            %a{href: '404.html'} Terms &amp; Conditions
          %li
            %a{href: '404.html'} Privacy Policy
  %script
    $('#testimonials-carousel').carousel({ interval: 5000, wrap: false });
